@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

:root {

    /*  colors - primary  */

    --pale-violet: hsl(276, 100%, 81%);
    --moderate-violet: hsl(276, 55%, 52%);
    --desaturated-dark-violet: hsl(271, 15%, 43%);
    --grayish-blue: hsl(206, 6%, 79%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --dark-grayish-violet: hsl(270, 7%, 64%);

    /*  Gradients  */

    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);

    /*  Secondary  */

    --white: hsl(0, 0%, 100%);
    --off-black: rgba(0, 0, 0,0.2);
    --light-violet: hsl(264, 100%, 61%);
    --light-grayish-violet: hsl(270, 20%, 96%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --very-light-magenta: hsl(289, 100%, 72%);

    /* Typography */

    --font-size-primary: 16px;
    --font-family: 'Rubik', sans-serif;

    /* Breakpoints */

    --mobile-width: 375px;
    --desktop-width: 1440px;

    /* Borders */

    --outside-border-radius: 30px;
    --inside-border-radius: 25px;

    /* Quick Custom */

    --app-background: hsl(270, 20%, 96%);
}

body {
    background-color: var(--light-grayish-violet);
}

.container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 2rem;
    padding-inline: 1rem;
    width: var(--mobille-width);
    margin-inline: auto;
    margin-block: 2rem;
    justify-items: center;
    align-items: center;
}


/* Typography */

h1, p, .phone-wrapper, .footer {
    font-family: 'Rubik', sans-serif;
}

p {
    color: var(--desaturated-dark-violet);
}

/* Main Text */

.main {
    min-width: 300px;
    max-width: 400px;
    text-align: center;
}

/* Phone */

.phone-wrapper {
    width: 200px;
    height: 500px;
    border-radius: var(--outside-border-radius);
    padding: 10px;
    background-color: var(--white);
    -webkit-box-shadow: 9px 7px 22px 8px var(--off-black);
    box-shadow: 9px 7px 22px 8px var(--off-black);
}

.phone-background {
    display: grid;
    grid-auto-rows: auto;
    background: var(--app-background);
    border-radius: var(--inside-border-radius);
    height: 100%;
    align-content: space-between;
}

.shape {
    position: absolute;
    z-index: -99;
    top: 0;
    left: -200px;
    height: 500px;;
    width: 400px;
    background: linear-gradient(45deg, var(--light-violet), var(--light-magenta), 100%);
    border: 0 0 500px 500px;
}

/* Purple Gradient */

.header-background {
    display: grid;
    grid-template-columns: auto;
    color: var(--white);
    height: 65px;
    border-radius: 20px 20px 8px 8px;
    align-items: start;
    background: linear-gradient(90deg, var(--light-violet), var(--light-magenta), 100%);
}

.header-wrapper {
    display: grid;
    padding: 0 1rem;
    gap: 10px;
    grid-template-columns: 11px 25px auto 11px;
    object-position: center;
    align-content: space-between;
    align-items: center;
}

.fa-angle-left, .fa-ellipsis-v {
    color: var(--white) !important;
    display: block !important;
}